.loginbars{
	margin-left: 600px; 
	margin-top: 175px;
}

#uname{
	padding: 10px;
	font-size: 20px;
	background: none;
	color: white;
	border-bottom-color: white;
	border-bottom-width: 3px;
}
#pass{
	padding: 10px;
	font-size: 20px;
	background: none;
	color: white;
	border-bottom-color: white;
	border-bottom-width: 3px;
	margin-top: 50px;
}

#signin{
	margin-top: 30px;
	margin-left: 70px;
}